<!DOCTYPE html>
<html>
  <head>
    <title>Facebookclone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="login_container">
        <div class="login_container_lfoat">
          <h1><%= link_to "facebook-clone", new_user_path %></h1>
        </div>
        <div class="login_container_rfloat">
              <ul>
                <% if logged_in? %>
                  <li class="menus"><%= link_to "#{current_user.name}", user_path(current_user.id) %></li>
                  <li class="menus"><%= link_to "投稿一覧", pictures_path %></li>
                  <li class="menus"><%= link_to "新規投稿", new_picture_path %></li>
                  <li class="menus"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
                <% else %>
                  <li class="menus"><%= link_to "新規登録", new_user_path %></li>
                  <li class="menus"><%= link_to "ログイン", new_session_path %></li>
                <% end %>
              </ul>
        </div>  
      </div>  
    </header>  

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>


    <%= yield %>
  </body>
</html>
